body{
    background-color: #24353f;
    
}
.signup{
    background-color: #24353f;
}
.signup-box{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1{
    color: #17a2b8;
}

.btn-sub{
    --bs-btn-color: #17a2b8;
    --bs-btn-active-bg: #17a2b8;
    --bs-btn-border-color: #17a2b8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #17a2b8;
    --bs-btn-focus-shadow-rgb: 0 0 0 .2rem rgba(23,162,184,.5);
    --bs-btn-active-color: #fff;
    --bs-btn-active-border-color:#17a2b8;
}
.btn-sub:focus{
    box-shadow: 0 0 0 .2rem rgba(23,162,184,.5);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}